pyrogram==1.4.16
tgcrypto==1.2.5
pytgcalls==0.0.16
youtube_dl==2021.12.17
youtube_search_python==1.6.6
requests==2.31.0
aiohttp==3.9.1
aiofiles==23.2.1
Pillow==10.2.0
psutil==5.9.8
ffmpeg-python==0.2.0
python-dotenv==1.0.1
